* {
    background-color: rgb(141, 177, 179);
}
    

.box1 {
    background-color: rgba( rgba(44, 134, 218, 0.493),0/5 );
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    font-size: 35px;
    position: fixed;
    right: 0;
    left: 0;

    
}

a:hover {
background-color: brown;
color: black;
padding: 20px;
text-decoration: none;

}
.box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 50px;
    padding: 10px;
    gap: 40px;
   
}
.photo1{
  
    border: 5px solid rgb(22, 99, 143)

}
.photo2{
  
    border: 5px solid rgb(22, 99, 143)

}
.photo3{
  
    border: 5px solid rgb(22, 99, 143)

}
.photo4{
  
    border: 5px solid rgb(22, 99, 143)


}
.box3 {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    color: rgb(6, 49, 6);
    background-color: rgb(79, 131, 228);
    font-weight: bolder;
}

.box4 {
    font-size: 30px;
    margin: 20px 300px;
    padding:5px;
    background-color: burlywood;
 }
 .para {
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
    background-color: lightgrey;
 }
    
